.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #ff4487;
  border-color: #ff69b1;
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #ff4291;
  border-color: #ff2f86;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 .25rem rgba(255,10,113,0.5);
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #ff2299;
  border-color: #ff67c2;
  box-shadow: 0 0 0 .25rem rgba(255,50,185,0.5);
}

